body {
    background-color: lightblue;
}

.container-fluid {
    height: 300px;
    background-color: tomato;
}

.col-sm-4 {
    height: 400px;
}

.image {
    height: 70%;
    width: 90%;
    position: relative;
    text-align: center
}


.centered {
    position: absolute;
    top: 35%;
    left: 45%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    opacity: 0.75;
    padding: 5px;
}